.App {
  text-align: center;
  color:rgb(0, 162, 255);
  font-style: oblique;
}

.Hobbies {
  color: darkgreen;
  font-size: 22;
}

.Message {
  color: hotpink;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
